body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Widget container */
.widget {
  padding: 16px;
  border-radius: 24px;

  background: rgba(18, 30, 55, 0.35);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);

  border: 1px solid rgba(255,255,255,.12);

  box-shadow:
    0 10px 35px rgba(0,0,0,.25),
    inset 0 1px rgba(255,255,255,.08);
}

/* Clock layout */

.app {
  --clock-size: 17px;
  --gap: 2px;
  --clock-segment-w: calc(var(--clock-size) * 4 + var(--gap) * 5);
  --clock-segment-h: calc(var(--clock-size) * 6 + var(--gap) * 5);

  display: flex;
  align-items: center;
  gap: var(--gap);

  font-family: sans-serif;
}

.app > div {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  width: var(--clock-segment-w);
  height: var(--clock-segment-h);
}

.app > div:nth-of-type(even) {
  margin-right: 18px;
}

/* Individual clocks */

.clock {
  --w: 47%;
  --h: 2px;
  --dur: .4s;

  position: relative;

  width: var(--clock-size);
  height: var(--clock-size);

  flex-shrink: 0;
  border-radius: 40%;

  background: rgba(255,255,255,.08);

  border: 1px solid rgba(255,255,255,.10);

  box-shadow:
    inset 0 1px rgba(255,255,255,.06),
    0 0 8px rgba(120,180,255,.08);
}

/* Clock hands */

.clock::before,
.clock::after {
  position: absolute;
  content: "";

  top: calc(50% - var(--h)/2);
  left: 50%;

  width: var(--w);
  height: var(--h);

  border-radius: 999px;

  transform-origin: 0% 50%;
  transform: rotate(calc(var(--angle) * 1deg));

  transition: transform calc(var(--dur) * 1s) ease;

  box-shadow: 0 0 3px currentColor;
}

/* Hour hand */

.clock::before {
  --angle: var(--hour-angle);

  background: #84c5ff;
  color: #84c5ff;
}

/* Minute hand */

.clock::after {
  --angle: var(--minute-angle);

  background: #ffffff;
  color: #ffffff;
}

@media (max-width:700px) {
  .clock {
    --h: 2px;
  }
}

@media (max-width:500px) {
  .clock {
    --h: 1px;
    --w: 50%;
  }
}